

.list-group a {
    margin-top: 4px;
    border-radius: 0px;
    border: 0px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    cursor: pointer; 
}

header,
nav,
section {
  display: block; }

html {
    font-size: 16px; }

.main-container{
    height: calc(100vh - 100px);
}

nav, footer {
    background-color: #B5CCF6 !important;
    font-family: Chalkduster, fantasy;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    z-index: 100; 
}


.nav-img{
    position: absolute;
    height: 80%;
}

select option {
    background-color: #F0F6F9 }

.form-control {
    color: #017EB5;
    background-color: white; }

.form-control:focus {
    background-color: #F0F6F9;     
    border-color: #0AA5E8 }

.form-group label {
    padding-top: 0.3rem;
    padding-left: 0.4rem;
    padding-bottom: 0.1rem;
}

.form-inline {
    display: block; }

.list-group-item {
    color: #017EB5;
    background: #F0F6F9;
    border-color: #44B2E2 }

.list-group-item.active {
    color: #F0F6F9;
    background: #0275d8;
    border-color: #0275d8; }

.list-group-item.active:hover, .list-group-item-action:hover, .list-group-item:focus, .list-group-item.active:focus, .list-group-item-action:focus {
    color: #F0F6F9;
    background: #0275d8;
    border-color: #0275d8 }

.list-group-sm .list-group-item {
    padding: 0.25rem 1rem;
}

