
.list-group a {
    margin-top: 4px;
    border-radius: 0px;
    border: 0px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    cursor: pointer; 
}


.main-container{
    height: calc(100vh - 85px);
    background-image: url("../assets/img/moro-bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-img{
    position: absolute;
    height: 80%;
}

select option {
    background-color: #F0F6F9 }

.form-group label {
    padding-top: 0.3rem;
    padding-left: 0.4rem;
    padding-bottom: 0.1rem;
}

.form-inline {
    display: block; }

.list-group-item.active:hover, .list-group-item-action:hover, .list-group-item:focus, .list-group-item.active:focus, .list-group-item-action:focus {
    
    background: #dff0d8;
    border-color: #dff0d8; }

.list-group-sm .list-group-item {
    padding: 0.25rem 1rem;
}

.pos-absolute-right{
    position: absolute;
    right: 10px;
}

.i-mid{
    vertical-align: middle ;
}

.icon-panel{
    padding-left: 6px;
    border: solid 1px #F0F6F9;
}

.icon-panel .fa{
    padding-right: 6px;
    font-size: 1.4rem;
}

progress-comp{
    width: 650px;
}

@-webkit-keyframes spinnerRotate
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}
