.login_window {
    width: 33rem;
    height: 15rem;
    padding: 2rem;
    position: fixed;
    border: 2px solid green;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login_window label {
    width: 25rem;
}
.login_window [type='button'] {
    width: 8rem;
    margin-top: 1rem;
    float: right;
}