<div class="container-fluid h-100">
    
    <div class="row d-flex" style="height: calc(100% - 50px)" >
        <div class="module-content col-6 h-100">
            <content-view [content]="module.content" [readonly]="!context.editModuleId" ></content-view>
        </div>
        <div class="module-example col-6 h-100">
            <example-view [example]="module.example" [readonly]="!context.editModuleId" ></example-view>
        </div>
    </div>

    <div class="row h-100" hidden >
        <div class="col-6 h-100">
            <result-view></result-view>
        </div>
        <div class="col-6 h-100">
            <quiz-view></quiz-view>
        </div>
    </div>

    <div class="row col-12" *ngIf="context.editModuleId" >
        <div class="ml-auto">
            <button (click)="cancel()" class="btn btn-primary">{{ 'common.cancel' | translate }}</button>
            <button (click)="delete()" class="btn btn-primary">{{ 'common.delete' | translate }}</button>
            <button (click)="save()" class="btn btn-primary" >{{ 'common.save' | translate }}</button>
        </div>
    </div>
</div>

