<div class="p-0 mt-1 h-100">
    <fieldset class="h-100 border-left-0 m-0 pl-0 pt-1 pb-1 pr-1">
        <legend>
            <div class="font-weight-bold">
                <i class="fa fa-keyboard-o fa-2x"></i>
                Przykład
            </div>
        </legend>
        <div class="card bg-card border-0 h-100">
            <textarea [(ngModel)]="module.example" class="module-example form-control w-100 h-100 text-muted" [readonly]="readonly"></textarea>
        </div>
    </fieldset>
</div>