<div class="container-fluid align-items-center h-100 w-100 m-0 p-0">

    <div class="row w-100 m-0 p-0" style="height: calc(100% - 3rem)">

        <!-- content i example -->
        <fieldset class="row col-12 h-100 d-flex m-0 p-1">

            <div *ngIf="viewType==CONTENT_VIEW" class="d-flex flex-row w-100 h-100 m-0 p-0">
                <div class="col-6 h-100 pr-1 p-0">
                    <content-view [module]="module" [readonly]="!context.isEditMode"></content-view>
                </div>
                <div class="col-6 h-100 p-0">
                    <example-view [module]="module" [readonly]="!context.isEditMode"></example-view>
                </div>
            </div>
            
            
            <!-- test - pytania zamknięte  -->
            <div *ngIf="viewType==QUIZ_VIEW" class="row col-12 h-100 d-flex m-0 p-0 of-auto">
                <quiz-view [module]="module" [readonly]="!context.isEditMode || !module.difficulty=='easy'"></quiz-view>
            </div>
            
            
            <!-- test - pytanie z kodu -->
            <div *ngIf="viewType==CODE_VIEW" name='moduleCode' class="col-12 h-100 m-0 p-0 of-auto">
                <code-task-view [module]="module" [readonly]="!context.isEditMode || !module.difficulty=='easy'"></code-task-view>
            </div>
            
        </fieldset>
    </div>



    <!-- przyciski -->
    <div class="d-flex flex-row col-12 p-1">


        <!-- WIDOK -->
        <!-- ........................................................................................... -->
        <div class="col-3 d-flex flex-row h-100 m-0 p-0 b-0 pull-left">
            <button (click)="viewType=CODE_VIEW" class="col-4 btn btn-primary pull-right mr-1">{{ 'common.code' | translate }}</button>
            <button (click)="viewType=QUIZ_VIEW" class="col-4 btn btn-primary pull-right mr-1">{{ 'common.quiz' | translate }}</button>
            <button (click)="viewType=CONTENT_VIEW" class="col-4 btn btn-primary pull-right mr-1">{{ 'common.content' | translate }}</button>
         </div>



        <!-- tryb: NAUKA -->
        <!-- ........................................................................................... -->
        <div *ngIf="!context.isEditMode" class="row col-9 h-100 m-0 p-0 b-0">


            <!-- przycisk 'sprawdź test' -->
            <div class="col-4 d-flex flex-row-reverse h-100 m-0 p-0 b-0">
                <button (click)="verifyClosedTest()" *ngIf="viewType==QUIZ_VIEW && module.questions!=undefined" class="btn btn-primary mr-1">{{ 'learn.verify-test' | translate }}</button>
                <button (click)="verifyCodeTest()" *ngIf="viewType==CODE_VIEW && module.codeTasks!=undefined" class="btn btn-primary mr-1">{{ 'learn.verify-test' | translate }}</button>
            </div>


            <!-- porzewijanie modułów : następy, poprzedni, wyjaśnij -->
            <div class="col-8 d-flex flex-row-reverse m-0 p-0 b-0" role="group">
                <button (click)="context.moduleList.nextModule()" type="button" class="col-3 m-0 btn btn-success">
                    {{ 'learn.next_module' | translate }}
                </button>
                <button (click)="context.moduleList.prevModule()" type="button" class="col-3 mr-1 btn btn-primary">
                    {{ 'learn.prev_module' | translate }}
                </button>
                <button *ngIf="explanationExists()" (click)="context.moduleList.explain()" type="button" class="mr-1 btn btn-primary">
                    {{ 'learn.explain' | translate }}
                </button>
            </div>

        </div>


        <!-- tryb: EDYCJA -->
        <!-- ........................................................................................... -->
        <div *ngIf="context.isEditMode" class="col-9 d-flex flex-row-reverse h-100 m-0 p-0 b-0">
            <div class="d-flex">
                <button (click)="save()" class="btn mr-1 btn-primary">{{ 'common.save' | translate }}</button>
                <button (click)="cancel()" class="btn btn-primary">{{ 'common.cancel' | translate }}</button>
            </div>
            <div class="col-7 mr-1 p-0">
                <input type="text" class="col-md-12 form-control" [(ngModel)]="module.title" />
            </div>
        </div>

    </div>
</div>