
<div 
    class="container h-100 fortune-wheel-all" 
    >
    
    <div class="row">
        <div class="col">
            <i class="fa fa-arrow-down fa-4x fortune-pointer" aria-hidden="true"></i>
    
            <div #fortuneWheel>
                <img src="/assets/img/fortune-wheel.png"/>
                <!-- <img (src)="wheelAddress"> -->
            </div>

        </div>
        <div class="col">
            <button 
                #spinButton 
                (mousedown)="spinTheWheel();" 
                (mouseup)="letItRoll();" 
                class="col-4 btn btn-primary mr-1 font-machine"
                >
                {{ 'fortune-wheel.spin' | translate }}
            </button>
            <span >
                * {{ 'fortune-wheel.explanation' | translate }}
            </span>
        </div>
    </div>
</div>