/* Log-in window */ 
/* ----------------------------------------------------------------------------------------*/
.login_window h2 {
    margin: 0;
    margin-bottom: 2rem;
    text-align: center;
}

.login_window button {
    width: 8rem;
    height: 2.5rem;
    margin-top: 1rem;
    float: right;
}

/* Div with buttons: 'log in', 'register', 'change password' */ 
/* ----------------------------------------------------------------------------------------*/
.login_menu {
    width: 27rem;
    height: 7rem;
}
.login_menu div {
    width: 18rem;
    height: inherit;
    float: left;
}
.login_menu button {
    width: inherit;    
    height: 2.5rem;
    margin-top: 1rem;
} 

