/* Log-in window */ 
/* ----------------------------------------------------------------------------------------*/
.login_window h2 {
    margin: 0;
    margin-bottom: 2rem;
    text-align: center;
}

/* Div with buttons: 'log in', 'register', 'change password' */ 
/* ----------------------------------------------------------------------------------------*/
.login_menu {
    width: 22rem;
    height: 7rem;
}
.login_menu div {
    width: 18rem;
    height: inherit;
    float: left;
}

.v-hr{ 
      border:         none;
      border-left:    1px solid #017EB5;
      height:         100%;
      width:          1px;
      margin-left:      5px;   
  }

.checkbox-input{
    color: rgba(0,0,0,.25);
}

a:hover{
    color: #16598A !important;
}

