<div class="login_window pl-3 pt-3" *ngIf="!loggedIn">
    <div *ngIf="action=='logging-in' || action=='passw-change'">
        <formfield [field]='fieldLogin' class='formfield'></formfield>
        <formfield [field]='fieldPassw' class='formfield'></formfield>
        <div class='text-danger'>
            <p>{{ errCredentials | translate }}</p>
        </div>
    </div>
    <div *ngIf="action=='register' || action=='passw-change'">
        <formfield [field]='fieldNewLogin' class='formfield'></formfield>
        <formfield [field]='fieldNewPassw' class='formfield'></formfield>
        <formfield [field]='fieldRepPassw' class='formfield'></formfield>
        <div class="text-danger">
            <p>{{ errPasswChange | translate }}</p>
        </div>
    </div>
    <div class='login_menu'>
        <div>
            <button *ngIf="action!='logging-in'" (click)="setAction('logging-in')">{{ 'login.log_in' | translate }}</button>
            <button *ngIf="action!='register'" (click)="setAction('register')">{{ 'login.register' | translate }}</button>
            <button *ngIf="action!='passw-change'" (click)="setAction('passw-change')">{{ 'login.password_change' | translate }}</button>
        </div>
    </div>
    <button (click)='submitLogin()'>{{ 'common.ok' | translate }}</button>
</div>
<div *ngIf="loggedIn">
    Jestem zalogowany
</div>