.edit-title{
    font-weight: bolder;
    
}

.fa-lighter{
    color: #017EB580 !important;
}

.fa-lighter:hover{
    color: #017EB5 !important;
}

.fa-red{
    color: #ff000080 !important;
}

.fa-red:hover{
    color: #ff0000cb !important;
}

input {
    color: #017EB5 !important;
}

.w-80 {
    width: 80% !important;
}

.fa-input { 
    position: absolute;
    top: 5px;
    right: 7px;
    font-size: 15px;
  }
  
.form-check{
    padding-left: 1.25rem;
    margin-bottom: 0;
}

.fa-top-right{
    position: absolute;
    top: 10px;
    right: 10px;
}

.q-status{
    position: absolute;
    left: 50%;
    top: 40%;
}

.fa-check{
    color: green;
}

.fa-times{
    color: red;
}