<div *ngIf="!editMode" class="card-block">
 
  <div *ngIf="questionData.status!=0" class="q-status" > 
    <i [ngClass]="getClass()" ></i> 
  </div>
 
  <h6 class="card-title"><strong>{{ questionData.question }}</strong></h6>
 
  <div *ngFor="let answer of questionData.answers; let i=index" [attr.data-index]="i">
    <div class="form-check card-text" (click)="questionData.correct_idx=i">
      <label class="form-check-label">
        <div [ngClass]="questionData.correct_idx==i ? 'fa fa-check-square-o' : 'fa fa-square-o'" ></div>
        {{ answer }}
      </label>
    </div>
  </div>

</div>


<div *ngIf="editMode" class="card-block">

  <h6 *ngIf="!editQuestionText" class="card-title"><strong>
    {{ questionData.question }}
    <i class="fa fa-pencil fa-lighter pl-1" aria-hidden="true" (click)="editQuestionText=true" ></i>
  </strong></h6>

  <input *ngIf="editQuestionText" 
    type="text"
    placeholder="Nowe pytanie"
    [ngModel]="questionData.question"
    autofocus
    (focusout)="updateQuestionValue($event.target.value)" 
    class="form-control-sm w-100 edit-title" 
    />

    <div *ngFor="let answer of questionData.answers; let i=index" [attr.data-index]="i">
      <div class="form-check card-text">
          <div (click)="questionData.correct_idx=i"
            [ngClass]="questionData.correct_idx==i ? 'fa fa-check-square-o' : 'fa fa-square-o'" >
          </div>
          <span *ngIf="editedAnswerIdx!=i" >{{ answer }}</span>
          <input *ngIf="editedAnswerIdx==i" 
            type="text" 
            placeholder="Nowa odpowiedź"
            autofocus
            [ngModel]="questionData.answers[i]"
            (focusout)="updateAnswerValue($event.target.value)" 
            class="form-control-sm w-80" />
            <i *ngIf="editedAnswerIdx!=i" class="fa fa-pencil fa-lighter pl-1" (click)="editedAnswerIdx=i" aria-hidden="true"></i>
            <div *ngIf="editedAnswerIdx!=i" class="fa fa-minus fa-red pl-1" (click)="deleteAnswer(i)" ></div>
      </div>
  </div>

  <div class="fa fa-plus form-check-label" (click)="addAnswerToQuestion()" ></div>
  <div class="fa fa-minus fa-red fa-top-right" (click)="deleteQuestion()" ></div>
</div>