body {
    color: #017EB5 !important;
}

.primary-color{
    color: #053B6C;
}

.fa-div:hover, .fa:hover {
    color: #043A6C !important;
    cursor: pointer;
}

select, a{
    cursor: pointer;
}

.btn:hover{
    cursor: pointer;
}

a.disabled {
    pointer-events: none;
    background-color: lightgray !important;
}

.bg-white{
    background-color: white !important;
}

.of-auto {
    overflow-y: auto;
}


::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: #FFF /*#B5CCF6*/;
}

::-webkit-scrollbar-thumb
{
  background: #017EB5;
}


fieldset {
    border: 1px solid #ddd !important;
    margin: 0 !important;
    min-width: 0 !important;
    padding: 10px !important;       
    border-radius:4px !important;
    background-color:#B5CCF6 !important;
    padding-left:10px!important;
}	

legend {
    font-size:14px !important;
    font-weight:bold !important;
    margin-bottom: 0px !important; 
    width: 35% !important; 
    border: 1px solid #ddd!important;
    border-radius: 4px !important; 
    padding: 5px 5px 5px 10px !important; 
    background-color: #ffffff !important;
}

textarea[readonly], textarea[readonly="readonly"] {
    background-color: #FFF !important;
}

input{
    color: #017EB5 !important;
}

.btn-xs{
    padding: .1rem .5rem;
    font-size: .800rem;
    border-radius: 0;
    height: 30px;
}

.btn-primary{
    background-color: #017EB5 !important;
    border-color: #017EB5 !important;  
}

.btn-primary:hover {
    background-color: #16598A !important;
    border-color: #16598A !important;
  }

a:hover{
    color: #16598A !important;
}
