body {
    color: #017EB5 !important;
}

.primary-color{
    color: #053B6C;
}

.fa-div:hover, .fa:hover {
    color: #043A6C !important;
    cursor: pointer;
}

select{
    cursor: pointer;
}

.btn:hover{
    cursor: pointer;
}

a.disabled {
    pointer-events: none;
    background-color: lightgray !important;
}

.bg-white{
    background-color: white !important;
}

.bg-primary2{
    background-color: #B5CCF6 !important;
}

.of-auto {
    overflow-y: auto;
}


::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: #FFF /*#B5CCF6*/;
}

::-webkit-scrollbar-thumb
{
  background: #017EB5;
}