body {
    color: #017EB5 !important;
}

.primary-color{
    color: #053B6C;
}

.fa-div:hover, .fa:hover {
    color: #043A6C !important;
    cursor: pointer;
}

select{
    cursor: pointer;
}

.btn:hover{
    cursor: pointer;
}

a.disabled {
    pointer-events: none;
    background-color: lightgray !important;
}

.bg-white{
    background-color: white !important;
}

.of-auto {
    overflow-y: auto;
}
