.distractor-close{
    position: absolute;
    top: 100px;
    right: 100px;
    z-index: 100000;
    color: #feed00;
}

.distractor-close:hover{
    color: #feed00cc !important;
}

.darker-background{
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 9999;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.8); 
}