/* 
    Created on : 2016-10-19, 14:16:09
    Author     : LR
*/


* {
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.0em;
}

input {
    border: solid black;
}

.settings > div {
    display: inline-block;
}

.settings > div > div {
    padding: 0.3rem;
}

.settings input {
    width: 3rem;
    text-align: center;
}

.opisPola {
    margin-bottom: 0.4rem;
}

.game {
    display: block;    
    width: 100%;
}

.board {
    margin-top: 1rem;
    margin-left: 0.3rem;
    padding: 0;
    float:left; 
}

.buttonGenerate {
    margin-top: 1.3rem;
    margin-bottom: 2rem;
    margin-left: 0.3rem;
    height: 1.6rem;
    width: 12rem;
    float: left;
}

.boardButton{
    width: 25px;
    height: 25px;
    background-color: lightgray;
    border: solid black;
    margin: 0.1rem;

    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
    vertical-align: bottom;

}

.visitedNoMine{
    background-color: green;
}

.visitedMine{
    background-color: red;
}

.mineIsHere{
    background-color: yellow;
}
