/* 
    Created on : 2016-10-19, 14:16:09
    Author     : LR
*/


* {
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.0em;
}

input {
    border: solid black;
}

#menu > div {
    display: inline-block;
}

#menu > div > div {
    padding: 0.3rem;
}

#polaText input {
    width: 3em;
    text-align: center;
}

#gra > div {
    padding: 0.6rem;
}

#prawy, #lewy {
    min-width: 150px;
}

.boardButton{
    width: 25px;
    height: 25px;
    background-color: lightgray;
    border: solid black;
    margin: 2px;

    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
    vertical-align: bottom;

}

.visitedNoMine{
    background-color: green;
}

.visitedMine{
    background-color: red;
}

.mineIsHere{
    background-color: yellow;
}
