<div bsModal #lgModal="bs-modal" class="modal" tabindex="-1" role="dialog" #thisModal>
    <div class="modal-dialog message-dialog">
        <div class="modal-content primary-color-dark">
            
            <div class="modal-header">
                <div class="modal-title">
                    <span class="fa fa-info-circle"></span>
                    <strong>{{ config.title | translate }}</strong>
                </div>
            </div>

            <div class="modal-body">               
                {{ config.message | translate }}
            </div>

            <div class="modal-footer">
                <div class="form-inline">
                    <button 
                        tabindex="0"
                        id="okButton" 
                        class="btn-form btn btn-primary btn-sm rounded mr-2" 
                        style="width: 6rem;height:2rem;"
                        title="Enter" 
                        [hidden]="!config.okButtonVisible">{{ 'common.ok' | translate }}</button>
                    <button
                        tabindex="0"
                        id="cancelButton" 
                        class="btn-form btn btn-danger btn-sm rounded" 
                        style="width: 6rem;height:2rem;"
                        title="Esc" 
                        [hidden]="!config.cancelButtonVisible">{{ 'common.cancel' | translate }}</button>
                </div>            
            </div>

        </div>
    </div>
</div>