<div class="container-fluid h-100">
    <div class="row h-100 d-flex" >
        <div class="col-6 h-100">
            <material-view [material]="module.material" [readonly]="!context.isEditMode" ></material-view>
        </div>
        <div class="col-6 h-100">
            <examples-view [example]="module.examples" [readonly]="!context.isEditMode" ></examples-view>
        </div>

        <div class="row col-12">
            <button (click)="save()" class="btn btn-primary ml-auto" [hidden]="!context.isEditMode" >Zapisz</button>
        </div>
    </div>

    <div class="row h-100" hidden >
        <div class="col-6 h-100">
            <result-view></result-view>
        </div>
        <div class="col-6 h-100">
            <quiz-view></quiz-view>
        </div>
    </div>
</div>

