<div class="list-group mt-2 mt-md-0 pb-md-5 pl-md-2" style="width: inherit;">
    <template ngFor let-module [ngForOf]="modules">
        <a [routerLink]="['module/' ,module.id]"
            class="btn-menu list-group-item list-group-item-action p-0" 
            routerLinkActive="active">
            <div class="pl-2 pr-5 p-3">
                <div class="ml-3">
                    <span class="w-100">{{ module.name }}</span>
                </div>
            </div>
        </a>
    </template>
    <i class="fa fa-plus fa-2x" aria-hidden="true" (click)="addModule()" [hidden]="!context.isEditMode" ></i>
</div>
