.formfield {
    height: 4rem;
    display: block;
}
.formfield label {
    width: 38rem;
    height: 3rem;
    margin-bottom: 1rem;
    padding-left: 0;
    padding-right: 0;
    float: left;
}
.formfield input {
    width: 25rem;
    height: 2.5rem;
    float: right;
    padding-left: 0.5rem;
}