
<div class="drawing-cards">
    <div class="row justify-content-center mb-2">
        <h3>{{ 'drawing-cards.explanation' | translate }}</h3>
    </div>  
    <div class="row">
        <div *ngFor="let prize of prizes; let i = index;">
            <section class="container">
                <div class="card" (click)="picked || pickCard($event, i)">
                    <div class="front"></div>
                    <div class="back"></div>
                </div>
            </section>
        </div>
    </div>
</div>
