.list-group-item { 
    line-height: 0.2;
    margin-bottom: 1px;
    border-radius: 0px;
}

.list-group-item span{
    color: #636c72;
}

.list-group-item.active span{
    color: #3c763d;
}

.list-group-item.active {
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
}

.lvl-easy {
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
}

.lvl-medium {
    background-color: #fff2ae;
    border-color: #faf2cc;
    color: #8a6d3b;
}

.lvl-hard {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
}

.lvl-easy:hover{
    background-color: #c3f6ae;
}

.lvl-medium:hover{
    background-color: #f8e99f;
}

.lvl-hard:hover{
    background-color: #f5c4c4;
}

.lvl-easy.active {
    background-color: #3c763d;
    border-color: #d0e9c6;
    color: #dff0d8 !important;
}

.lvl-medium.active {
    background-color: #8a6d3b;
    border-color: #d0e9c6;
    color: #fff2ae !important;
}

.lvl-hard.active {
    background-color: #a94442;
    border-color: #d0e9c6;
    color: #f2dede !important;
}

.check-absolute {
    position: absolute;
    z-index: 1001;
}

.fa{
    color: #273126cc;
    font-size: 1.3rem;
}

.bg-white{
    background-color: white;
}