<div class="list-group mt-2 mt-md-0 pb-md-5 pl-md-2" style="width: inherit;">

    <div class="align-items-center d-inline-flex fa-div" *ngIf="context.editModuleId == null" (click)="addMetaModule()" >
        <i class="fa fa-plus fa-2x m-1" aria-hidden="true" ></i>
        <span style="font-size: 1rem" > {{ 'edit.add_meta_module' | translate }} </span>
    </div>

    <div class="align-items-center d-inline-flex fa-div" *ngIf="context.editModuleId == null" (click)="addModule()" >
        <i class="fa fa-plus fa-2x m-1" aria-hidden="true" ></i>
        <span style="font-size: 1rem" > {{ 'edit.add_module' | translate }} </span>
    </div>

    <div class="align-items-center d-inline-flex fa-div" *ngIf="context.editModuleId == null" (click)="deleteModule()" >
        <i class="fa fa-plus fa-2x m-1" aria-hidden="true" ></i>
        <span style="font-size: 1rem" > {{ 'edit.del_module' | translate }} </span>
    </div>

    <div class="align-items-center d-inline-flex fa-div" (click)="nextModule()" >
        <i class="fa fa-plus fa-2x m-1" aria-hidden="true" ></i>
        <span style="font-size: 1rem" > {{ 'learn.next_module' | translate }} </span>
    </div>

    <ng-template ngFor let-module [ngForOf]="modules">
        <div class="d-flex" >
            <a [routerLink]="['module/' ,module.id]"
                class="btn-menu list-group-item list-group-item-action p-0 primary-color"
                [ngClass]="context.editModuleId!=null ? (context.editModuleId==module.id ? '' : 'disabled') : '' "
                routerLinkActive="active">
                <div class="pl-2 p-3">
                    <div class="ml-3">
                        <span class="w-100">{{ module.title }}</span>
                    </div>
                </div>
                <div class="ml-auto pr-1" *ngIf="context.editModuleId==null" >
                    <i class="fa fa-edit" aria-hidden="true" (click)="editModule(module.id)" ></i>
                </div>
            </a>
        </div>
    </ng-template>
</div>
