<div class="list-group h-100 mt-1 mr-1 mt-md-0 pb-md-1 pl-md-1" style="width: inherit;">


    <!-- kontrolki w trybie: EDYCJA -->
    <!-- ........................................................................................... -->
    <div *ngIf="context.isEditMode" class="pb-2 pl-0 d-flex" role="group">
        <div class="col-3 mr-1 p-0">
            <button type="button" class="col-12 btn btn-success" (click)="addModule()" *ngIf="!anyModulesSelected">
                {{ 'common.add' | translate }}
            </button>
        </div>
        <div class="col-3 mr-1 p-0">
            <button type="button" class="col-12 btn btn-danger" (click)="deleteModuleConfirm()" *ngIf="!anyModulesSelected">
                {{ 'common.delete' | translate }}
            </button>
        </div>
        <div class="col-6 m-0 p-0">
            <button type="button" class="col-12 btn btn-success" (click)="addMetaModule()" *ngIf="anyModulesSelected">
                {{ 'edit.add_meta_module' | translate }}
            </button>
        </div>
    </div>


    <!-- lista modułów w trybie: EDYCJA -->
    <!-- ........................................................................................... -->
    <div *ngIf="context.isEditMode" class="of-auto">
        <ng-template ngFor let-module [ngForOf]="modules">

            <div class="d-flex" [class.justify-content-end]="module.difficulty=='easy'" [class.justify-content-center]="module.difficulty=='medium'"
                [class.justify-content-start]="module.difficulty=='hard'">

                <a class="btn-menu list-group-item p-0 col-10" [class.lvl-easy]="module.difficulty=='easy'" [class.lvl-medium]="module.difficulty=='medium'"
                    [class.lvl-hard]="module.difficulty=='hard'" [routerLink]="['module/', module.id]" routerLinkActive="active"
                    (click)="selectedModuleId=module.id">

                    <div class="pl-2 p-3">
                        <div class="ml-3">
                            <span class="w-100">{{ module.title }}</span>
                        </div>
                    </div>

                    <div class="ml-auto pr-2" (click)="selectModule(module);$event.stopPropagation();$event.preventDefault();" *ngIf="context.isEditMode && module.difficulty!='hard' && !module.parent">
                        <div [ngClass]="module.isSelected ? 'fa fa-check-square-o' : 'fa fa-square-o'"></div>
                    </div>
                </a>
            </div>
        </ng-template>
    </div>



    <!-- lista modułów w trybie: NAUKA -->
    <!-- ........................................................................................... -->
    <div *ngIf="!context.isEditMode" class="of-auto">
        <ng-template ngFor let-module [ngForOf]="modules">

            <div class="d-flex" [class.justify-content-end]="module.difficulty=='easy'" [class.justify-content-center]="module.difficulty=='medium'"
                [class.justify-content-start]="module.difficulty=='hard'">

                <a class="btn-menu list-group-item list-group-item-action p-0 col-10" [routerLink]="['module/', module.id]" routerLinkActive="active" (click)="selectedModuleId=module.id">
                    <div class="pl-2 p-3 ml-3">
                        <span class="w-100">{{ module.title }}</span>
                    </div>
                    <div *ngIf="module.solvedQuestions && module.solvedCodes" class="fa fa-check-circle ml-auto pr-2"></div>
                </a>
            </div>
        </ng-template>
    </div>
</div>
