<div class="container-fluid p-2 of-auto">
        <fieldset>
                <legend>
                        <div class="font-weight-bold">
                                <i class="fa fa-pencil-square-o fa-2x"></i>
                                Quiz
                        </div>
                </legend>
                <div class="card bg-card border-0">
                        <div *ngFor="let q of questions; let i=index" [attr.data-index]="i">
                                <div class="mb-2">
                                        <question-view
                                                class="card"
                                                [editMode]="!readonly"
                                                [questionData]=q
                                                (onUpdateQuestion)="updateQuestion($event, i)">
                                        </question-view>
                                </div>
                        </div>
                        <div *ngIf="!readonly" class="fa fa-plus fa-2x ml-2 w-0" (click)="addQuestion()" ></div>
                </div>
        </fieldset>
</div>
