
<div class="tabview">
    <a *ngFor="let c of module.codeTasks;let i = index" class="tabitem"
      [class.active]="activeTab==i"
      (click)="activeTab=i">Zadanie {{i+1}}</a>
</div>

<div *ngIf="module.codeTasks" class="pt-2" style="height: calc(100% - 40px)">
    <textarea [(ngModel)]="module.codeTasks[activeTab].question" class="w-100 p-1" style="height:10%;" [readonly]="readonly || module.difficulty!='easy'"></textarea>

    <div class="d-flex w-100 pb-1" style="height: 90%">
  
    
      <!-- EDYTOR KODU -->
      <!-- TODO  zastąpić pole tekstowe edytorem -->
        <textarea [(ngModel)]="module.codeTasks[activeTab].exec_output" class="w-50 h-100 p-1 mr-1" [readonly]="context.isEditMode && module.difficulty!='easy'"></textarea>
    
    
        <!-- WYŚWIETLENIE WYNIKU DZIAŁANIA KODU UCZNIA -->
        <!-- TODO  zastąpić pole tekstowe wynikiem kodu -->
        <textarea [(ngModel)]="module.codeTasks[activeTab].executor_code" class="w-50 h-100 p-1" [readonly]="context.isEditMode && module.difficulty!='easy'"></textarea>
      </div>
</div>


<!-- przyciski DODAJ USUŃ -->
<div class="d-flex flex-row pt-1 m-0">
  <div *ngIf="!readonly && module.difficulty=='easy'" (click)="addCodeTask()" class="fa fa-plus fa-2x ml-2 w-0" style="width: 5%; height:5%;"></div>
  <div *ngIf="!readonly && module.difficulty=='easy'" (click)="deleteCodeTask()" class="fa fa-minus fa-2x ml-2 w-0" style="width: 5%; height:5%;"></div>
</div>