*:not(ace-editor) {
  font-size: 1.1rem;
}

ace-editor {
  font-size: 1.1rem;
}

.ace_content {
  height: 100%;
}

.edit * {
  display: block;
}

.mode-div label {
  text-align: right;
}

textarea {
  padding-left: 4px;
}

.tabview {
  height: 5%;
  padding: 0rem 0rem 0rem 0.5rem;
  border-bottom: 1px solid #f7f7f7;
}

.tabview, .tabview-sm-tabs {
  display: flex; 
}

.tabview .tabitem, .tabview-sm-tabs .tabitem {
  display: inline-block;
  cursor: pointer;
  color: #636c72 !important;
  background: #f7f7f7;
  border: 1px solid #f7f7f7;
  border-bottom: 0px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.2s ease-in-out; 
}

.tabview .tabitem:not(:last-child), .tabview-sm-tabs .tabitem:not(:last-child) {
  margin-right: 3px; 
}

.tabview .tabitem:hover, .tabview .tabitem.active:hover.btn-primary {
  background: #f7f7f7b3; 
} 

.tabview .tabitem.active, .tabview-sm-tabs .tabitem.active {
  color: #F0F6F9 !important;
  background: #636c72; 
}

.tabview .tabitem {
  padding: 0.25rem 1.5rem; 
}

#codeOutput {
  color: black !important;
}

.img-background{
  position: absolute;
  width: calc(100% - 8px);
  height: calc(100% - 40px);
  z-index: 9999;
  background-color: white;
}

.img-pos-small{
  position: absolute;
  top: 20%;
  left: 25%;
}

.img-pos-mid{
  position: absolute;
  top: 20%;
  left: 25%;
}

.img-pos-large{
  position: absolute;
  left: 10%;
}

.distractor-close{
  position: absolute;
  top: 50px;
  left: 70%;
}