<!-- ======================================================================================= -->
<!-- tab -->
<div class="tabview">
    <a 
      *ngFor="let task of codeTasks;let i = index" 
      class="tabitem"
      [class.active]="activeTab==i"
      (click)="setActiveTab(i)">

      <strong>Zadanie {{i+1}}</strong>
      <i class="ml-1" [ngClass]="getCssClass(task.status)" ></i>

    </a>
</div>



<!-- ======================================================================================= -->
<!-- tab content -->
<div *ngIf="codeTasks" class="p-0 m-0" style="height: 85%;">


  <!-- QUESTION -->
  <!-- ..................................................................................... -->
  <textarea 
    class="w-100 p-1 m-0" 
    style="height:50%;" 
    [readonly]="readonly || difficulty!='easy'"
    [(ngModel)]="codeTasks[activeTab].question" 
  ></textarea>


  <!-- STUDENT'S CODE EDITOR AND RESULT -->
  <!-- ..................................................................................... -->
  <div 
      *ngIf="!context.isEditMode"
      class="d-flex w-100 pb-1" 
      style="height: 100%"
      >

    <ace-editor 
      class="w-50 h-100 p-1 mr-1"
      style="min-height: 100%;"
      [(text)]="codeTasks[activeTab].studentCode"
      [mode]="codeTasks[activeTab].codeMode"
      [theme]="'eclipse'"
      [readOnly]=false
      >
    </ace-editor>


    <!-- wynik działania kodu studenta -->
    <!-- TODO  zastąpić pole tekstowe wynikiem kodu -->
    <!-- <textarea 
      class="w-50 h-100 p-1" 
      [readonly]="context.isEditMode && moduleDifficulty!='easy'"
      [(ngModel)]="codeTasks[activeTab].executorCode" 
    ></textarea>
  </div> -->

    <!-- wynik działania kodu studenta -->
    <!-- TODO  zastąpić pole tekstowe wynikiem kodu -->
    <div 
      #codeOutputDiv 
      id="codeOutput"
      class="w-50 h-100 p-1" 
      style="background: white;"
    ></div>
  </div>



  <!-- CODE TASK EDITION -->
  <!-- ..................................................................................... -->
  <div *ngIf="context.isEditMode && moduleDifficulty!='easy'"
              class="w-100 p-0 m-0 mr-5 mb-1" 
              style="height: 80%">

    <div class="mode-div d-flex w-100 m-0" style="height: 10%;">

      <!-- TODO: zmienić na drop-down z możliwymi trybami kodu -->
      <!-- code mode -->
      <label class="mr-2 justify-contents-left">
        rodzaj<br>kodu
      </label>
      <textarea
        class="h-100 p-1 mr-1" 
        style="width: 15%;"
        [readonly]=false
        [(ngModel)]="codeTasks[activeTab].codeMode" 
      ></textarea>
      
      <!-- correct answer -->
      <label class="ml-5 mr-2">
        prawidłowy<br>wynik
      </label>
      <textarea
        class="h-100 p-1"
        style="width: 80%;" 
        [readonly]=false
        [(ngModel)]="codeTasks[activeTab].correctResult" 
      ></textarea>

    </div>          


    <div class="d-flex w-100 mt-1 p-0 pt-1" style="height: 90%; border-top: 1px solid blue;">

      <!-- surrounding code -->
      <div class="edit h-100 w-50 p-0 mr-1">
          <label class="w-100">kod otaczający kod studenta (wstaw: '// STUDENT_CODE_HERE')</label>
          <ace-editor
            class="h-100 w-100 p-1"
            [theme]="'eclipse'"
            [readOnly]=false
            [mode]="codeTasks[activeTab].codeMode"
            [(text)]="codeTasks[activeTab].surroundingCode"
            >
          </ace-editor>
      </div>

      <!-- executor code -->
      <div class="edit h-100 w-50 p-0">
        <label class="w-100">kod sprawdzający wynik</label>
        <ace-editor
          class="h-100 w-100 p-1"
          [theme]="'eclipse'"
          [readOnly]=false
          [mode]="'javascript'"
          [(text)]="codeTasks[activeTab].executorCode"
          >
        </ace-editor>
      </div>

    </div>

  </div>
</div>



<!-- przyciski DODAJ USUŃ -->
<!-- ..................................................................................... -->
<div 
  *ngIf="!readonly && difficulty=='easy'" 
  class="d-flex flex-row w-100 pt-1 m-0" 
  style="height:5%;"
  >
  
  <div 
    class="fa fa-plus fa-2x ml-2 h-100 w-25" 
    style="width: 5%;"  
    (click)="addCodeTask()" 
    >
  </div>
  
  <div 
    class="fa fa-minus fa-2x ml-2 h-100 w-25" 
    style="width: 5%;"
    (click)="deleteCodeTask()" 
    >
  </div>
</div>