
/* .progress{
    height: 0.6rem;
    min-width: 100px;
} */

.no-wrap{
    white-space: nowrap;
}



.life {
    border: 1px solid lightgray;
    height: 100%;    
    width: 15px;
}
.life-full{
    background-color: lightgray;
    border-left: 1px solid black;
}
.shield-empty {
    border-left: 1px solid lightgray;
}
.shield {
    background-color: lightgray;
    border-left: 1px solid black;
}
.progres {
    border: 1px solid lightgray;
}
