<div class="w-100 h-100 ml-auto mr-6 d-flex align-items-center pull-right">

    <div class="row w-100 m-0 p-0">
    
        <!-- LIFE -->
        <div class="col mr-3">
            <div 
                class="row no-wrap justify-content-right p-0" 
                style="height: 30%;">
                <div 
                    *ngFor="let segment of lifeSegments; let i=index"
                    class="life h-100 p-0 col" 
                    [ngClass]="segment <= context.gameScore.life ? 'life-full' : ''" 
                    >
                </div>
            </div>
            <div class="row no-wrap justify-content-left pt-2">
                <h3>{{ 'learn.progress.rank.' + context.gameScore.rank | translate }}</h3>
            </div>
        </div>
    

        <!-- SHIELD -->
        <div class="col mr-3">
            <div class="row no-wrap m-0 p-0 justify-content-left" style="height: 30%;">
                <span class="p-0">Kombinezon sapera</span>
            </div>
            <div class="row no-wrap m-0 pt-2 justify-content-left" style="height: 70%;">
                <div 
                    *ngFor="let segment of shieldSegments;"
                    class="life h-100 p-0 col container"
                    [ngClass]="segment > context.gameScore.shield ? shield-empty : ''" 
                >
                    <div class="h-100 p-0 m-0 shield col"
                        [ngStyle]="{'width.%': segmentWidth(shieldMax, nShield, context.gameScore.shield, segment)}">
                    </div>
                </div>
            </div>
        </div>
    

        <!-- MINEFIELD PROGRESS -->
        <div class="col h-100 m-0 p-0 progres">
            <br><br>
        </div>
    </div>

</div>
