<div class="h-100 ml-5 pl-1 pr-1 d-flex align-items-center">
    <div class="row w-100">
        <div class="col p-0">
            <div class="row no-wrap life-box pb-2">
                <div *ngFor="let number of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]" 
                    [ngClass]="number*5<=health ? 'health-square' : ''" >
                </div>
            </div>
            <div class="row no-wrap">
                <h3>{{ 'learn.progress.rank.' + rank | translate }}</h3>
            </div>
        </div>
        <div class="col">
            <div class="row no-wrap">
                <span>Kombinezon sapera</span>
            </div>
            <div class="row no-wrap pt-2">
                <div *ngFor="let number of [1,2,3,4,5]" class="armour-square" [style.width]="getArmourWidth(number)" ></div>
            </div>
        </div>
        <div class="col">

        </div>
    </div>

</div>