
.no-wrap{
    white-space: nowrap;
}

.progres {
    border: 1px solid lightgray;
}

/* LIFE REMAINING */
.life {
    border: 1px solid lightgray;
    height: 100%;    
    width: 15px;
}
.life-full{
    background-color: lightgray;
    border-left: 1px solid black;
}

/* ARMOUR STRENGTH */
.shield-empty {
    border-left: 1px solid lightgray;
    padding:0;
}
.shield-full {
    background-color: lightgray;
    border-right: 1px solid black;
}
.shield-part {
    background-color: lightgray;
}

/* MINEFIELD MAP */
.map-frame {
    border-bottom: 1px solid lightgray; 
    border-right: 1px solid lightgray;
}
.field-empty {
    border: 0;
}
.field-safe {
    background-color: lightgray;
    border-left: 1px solid black;
    border-top: 1px solid black;
}
.field-mined {
    flex-grow: 1;
    border-left: 1px solid lightgray;
    border-top: 1px solid lightgray;
}