
.progress{
    height: 0.6rem;
    min-width: 100px;
}

.no-wrap{
    white-space: nowrap;
}

.red-square{
    /* background-color: red; */
    background-color: lightgray;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 3px;
    padding-left: 3px;
    margin-right: 1px;
}

.empty-square{
    background-color: #273126e6;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 3px;
    padding-left: 3px;
    border: solid 1px red;
    margin-right: 1px;
}

.life-box{
    padding: 3px;
}

.red-line{
    border:         none;
    /* border-left:    1px solid red; */
    border-left:    1px solid lightgray;
    height:         18px;
    width:          1px;
}

.armour-line{
    border:         none;
    /* border-left:    1px solid cadetblue; */
    border-left:    1px solid lightgray;
    height:         18px;
    width:          1px;
}

